{% extends 'base.html' %}

{% block head_title %}
- The Devs upper chambers
{% endblock head_title %}



{% block content %}
Willkomen a Pixarfly
<div id="tweets">
    Replace me
</div>
<script>
    const tweetsElement = document.getElementById("tweets") //get an html element
    tweetsElement.innerHTML = 'Loading...' //set the new html in that element specified by ID

    const xhr = new XMLHttpRequest();
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        //console.log(listedItems)
        var finalTweetStr = ""
        var i;
        for(i = 0; i<listedItems.length; i++) {
            console.log(i)
            console.log(listedItems[i])
        }
    }
    xhr.send()
</script>

{% endblock content %}